html, body {
    padding: 0;
    min-height: 100vh;
    width: 95%;
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
}

h1 {
    text-align: center;
}

@media screen and (min-width: 768px) {
    html, body {
        width: 60%;
        text-align: justify;
    }
}