/*
Use the 80/20 design rule, with 80% neutral and 20% special.

Colours:
Background colour = #ffffff

Main colour = rgb(
Light version = rgb(
Dark version = rgb(

Secondary colour = rgb(

Accent colour = rgb(

Neutral pallete:
1 = black
2 = #3f3f3f
3 = #5f5f5f
4 = #afafaf
5 = #dfdfdf
6 = #f0f0f0
7 = white
*/

body {
  margin: 0;
  background-color:rgb(254, 255, 249);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 0px;
  margin-top: 0px;
}

header {
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  font-size: 0.5em;
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 2em;
}

.main-two-columns {
  display: flex;
  flex-direction: row; /* Make the main content items display side by side */
  justify-content: center; /* Horizontally center the items */
}

.image-container {
  flex: 1; /* Let the image container take up remaining space */

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-container img {
  max-width: 100%; /* Ensure the image takes up the available width */
  height: auto; /* Allow the height to adjust automatically */
  margin: 5px;
  object-fit: cover;
}

.main-content {
  flex: 1; /* Let the text content take up remaining space */
  margin: 0 20px; /* Add some spacing between image and text */
}

.nav-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff88; /* Default button color */
  color: white;

  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px; /* Adjust as needed */
}

.nav-button:hover {
  background-color: #0057b3e4; /* Button color on hover */
}

@media (max-width: 768px) {
  header {
    font-size: 2em;
  }
  
  h2 {
    font-size: 1.5em;
  }

  body {
    width: 90%;
  }

  .main-two-columns {
    flex-direction: column; /* Change to a vertical layout on smaller screens */
  }

  .image-container {
    order: 1; /* Change the order of the image container to appear after text */
  }

  .main-content {
    order: 2; /* Change the order of the text content to appear before image */
  }

  .nav-button {
    display: block; /* Display navigation buttons as block elements */
    margin-top: 10px;
    margin-bottom: 10px; /* Add spacing between navigation buttons */
  }

  .image-container {
    flex-direction: row; /* Change flex direction to row for mobile devices */
    align-items: center; /* Align items in the center vertically */
  }

  .image-container img {
    width: 100%; /* Set the width to 100% on smaller screens */
    max-width: none; /* Remove the maximum width restriction */
    height: auto; /* Allow the height to adjust automatically */
    margin-bottom: 10px; /* Adjust as needed */
  }
}