/*
Use the 80/20 design rule, with 80% neutral and 20% special.

Colours:
Background colour = #ffffff

Main colour = rgb(
Light version = rgb(
Dark version = rgb(

Secondary colour = rgb(

Accent colour = rgb(

Neutral pallete:
1 = black
2 = #3f3f3f
3 = #5f5f5f
4 = #afafaf
5 = #dfdfdf
6 = #f0f0f0
7 = white
*/

body {
  margin: 0;
  background-color:rgb(254, 255, 249);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 0;
  margin-top: 0;
}

header {
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
  margin-top: 5px; /* Remove top margin */
  margin-bottom: 10px; /* Adjust bottom margin as needed */
}

nav {
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 2em;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-container img {
  max-width: 60%;
  height: auto;
  margin: 5px;
  object-fit: cover;
}

.nav-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff; /* Default button color */
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-right: 10px; /* Adjust as needed */
}

.nav-button:hover {
  background-color: #0056b3; /* Button color on hover */
}

@media (max-width: 768px) {
  h2 {
    font-size: 1.5em;
  }

  body {
    margin: 0;
    background-color:rgb(159, 213, 215);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 90%;
    margin: 0 auto;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  h2 {
    font-size: 2em;
  }

  .image-container {
    flex-direction: row; /* Change flex direction to row for mobile devices */
    align-items: center; /* Align items in the center vertically */
  }

  .image-wrapper {
      flex: 1 0 100%; /* Make each image wrapper take full width on mobile */
      height: auto; /* Allow height to adjust automatically */
      margin: 0; /* Remove margin */
  }

  .image-container img {
    width: 100%; /* Set the width to 100% on smaller screens */
    max-width: none; /* Remove the maximum width restriction */
    height: auto; /* Allow the height to adjust automatically */
    margin: 0; /* Adjust as needed */
  }
}